.people-talking-bg {

  background: url("../img/people-talking/people-talking-bg-1.png") no-repeat center/cover;
  padding-bottom: 20px;
}

.people-talking {
  text-align: center;
  padding: 0 10px;

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: $main-text-color;
    padding-top: 57px;

    @include laptop {
      padding-top: 85px;
      font-size: 42px;
      line-height: 44px;
    }

    @include desktop {
      padding-top: 108px;
      font-size: 48px;
      line-height: 50px;
    }

  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    padding: 0 10px;
    font-family: "Lato";
  }

  &__hr-line {
    height: 2px;
    background: #645766;
    max-width: 100%;
    align-self: center;
    margin: 22px 38px 0;
  }
}

.talking {
  padding-top: 53px;
  padding-bottom: 14px;

  @include laptop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 65px;
    padding-bottom: 85px;
    align-content: center;
  }

  @include desktop {
    @include grid-column(3, 87px);
    row-gap: 116px;

  }

  &__item {
    @include laptop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--img {
      padding-bottom: 30px;
    }

    &--pixelIcon {
      @include laptop {
        margin-top: 27px;
      }
    }

    &--text {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      font-family: "Lato";
      font-style: italic;

      @include laptop {
        padding-bottom: 0;
      }

      padding-bottom: 45px;
    }
  }
}