@import "reset.scss";
@import "variables.scss";
@import "mixin.scss";
@import "header-main/index.scss";
@import "main-section/index.scss";
@import "talking-section/index.scss";
@import "fork-section/index.scss";
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
}