.fork-section {
    background: url("../img/fork-section/fork-section-bg.png");
    padding-top: 14px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    @include laptop {
        padding-top: 88px;
    }
}

.fork-prising-title {
    @include d-flex-center;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: $main-text-color;
    text-align: center;

    @include laptop {
        font-size: 42px;
        line-height: 44px;
        margin-bottom: 39px;
    }

    @include desktop {
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 61px;
    }
}

.prising-list {
    @include d-flex-center;
    flex-direction: column;
    margin-top: 32px;

    @include laptop {
        @include grid-row(2, 30px);
        margin-top: 39px;
        margin-bottom: 94px;
    }

    @include desktop {
        flex-direction: row;
        margin-bottom: 94px;
    }

    &__card {
        @include d-flex-center;
        flex-direction: column;
        margin-bottom: 11px;
        background-color: rgba(255, 255, 255, 0.11);
        width: 257px;
        cursor: pointer;
        @include desktop {
            margin-left: 15px;
        }
    }

    &__active-card{
        background: rgba(70, 48, 72, 1);
        width: 299px;
        height: 560px;
        justify-content: space-between;
        transition: all .5s ease 0s;
    }

    &__title {
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: $main-text-color;
        padding: 36px 0;
        background-color: rgba(141, 129, 172, 0.06);
        opacity: 1;
        width: 100%;
        text-align: center;
    }

    &__price {
        font-size: 60px;
        line-height: 90px;
        text-transform: uppercase;
        color: $main-text-color;
        margin-top: 30px;
        font-weight: bold;
    }
    &__price span{
        font-weight: normal;
    }

    &__period {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $main-text-color;
        margin-top: 20px;
        margin-bottom: 38px;
    }

    &__info {
        font-size: 16px;
        line-height: 28px;
        color: $main-text-color;
        margin-top: 30px;
        text-align: center;
    }

    &__line {
        background: rgba(141, 129, 172, 1);
        height: 5px;
        width: 60px;
    }

    &__btn {
        padding: 15px 38px;
        font-size: 15px;
        line-height: 17px;
        text-transform: uppercase;
        color: $main-text-color;
        border-radius: 40px;
        border: none;
        margin-bottom: 36px;
        background: rgba(141, 129, 172, 0.15);
        margin-top: 37px;
    }

    &__btn1-laptop {
        @include laptop {
            margin-top: 68px;
        }

        @include desktop {
            margin-top: 68px;
        }
    }
}