.header-body {
    @include d-flex-center;
    justify-content: space-between;
    position: relative;
    padding: 34px 0;
    width: 100%;

    @include laptop {
        @include d-flex-center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 0;
    }

    &__logo {
        z-index: 2;
        @include d-flex-center;

        @include laptop {
            margin-left: 10px;

        }
    }

    &__icon {
        width: 43px;
        height: 41px;
        z-index: 2;
        background: url("../img/header-firstsection/header-logo-icon.svg");
        transition: all 0.2s ease 0s;
    }

    &__icon:hover {
        background: url("../img/header-firstsection/logo-hover-icon.svg");
        transition: all 0.2s ease 0s;
    }

    &__logo-text {
        color: $primary-text-color;
        font-weight: bold;
        font-size: 24px;
        line-height: 16px;
        font-family: 'Lato';
        text-transform: uppercase;
        margin-left: 17px;
        z-index: 5;
        @include mobile {
            display: none;
        }
        @include laptop{
            display: block;
        }  
        @include desktop{
            display: block;
        }   }

    &__logo-text:hover {
        color: $main-text-color;
    }

    &__burger {
        width: 26px;
        height: 21px;
        position: relative;
        cursor: pointer;
        z-index: 2;

        @include laptop {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__burger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #fff;
        top: 40%;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
    }

    &__burger::after {
        content: "";
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 0;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
    }

    &__burger.active span {
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    &__burger::before {
        content: "";
        background-color: #FFFFFF;
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 0;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
    }

    &__burger.active::before {
        width: 100%;
        top: 9px;
        transform: rotate(45deg);
        transition: all 0.3s ease 0s;
    }

    &__burger.active::after {
        width: 100%;
        bottom: 8px;
        transform: rotate(-45deg);
        transition: all 0.3s ease 0s;
    }

    &__buy-btn {
        font-size: 15px;
        line-height: 15px;
        font-weight: bold;
        color: $main-text-color;
        border-radius: 40px;
        background-color: $main-button-bg;
        border: none;
        padding: 10px;
        z-index: 2;
        min-width: 120px;

        @include laptop {
            padding: 11px 20px;
            min-width: 145px;
        }

        @include desktop {
            order: 3;
            padding: 11px 20px;
            min-width: 145px;
        }
    }

    &__buy-btn:hover {
        background-color: $hover-button-bg;
        color: $primary-text-color;

    }


}

.main-header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &__menu {
        position: absolute;
        left: 0;
        top: -220px;
        width: 100%;
        transition: all 0.7s ease 0s;

        @include laptop {
            position: static;
            z-index: 2;
        }

        @include desktop {
            position: static;
            order: 2;
            z-index: 2;
        }
    }

    &__menu.active {
        top: 108px;
        transition: all 0.7s ease 0s;
    }

    &__list {
        @include laptop {
            @include d-flex-center;
            position: static;
            z-index: 2;
            text-align: center;
        }

        @include desktop {
            @include d-flex-center;
            position: static;
            z-index: 2;
            text-align: center;
            margin-left: 240px;
        }
    }

    &__item {
        list-style: none;
        padding: 29px 20px 21px 35px;
        background-color: #333333;
        border-bottom: 2px solid #3B3B3B;
        position: relative;

        @include laptop {
            font-size: 16px;
            line-height: 18px;
            color: $primary-text-color;
            background-color: inherit;
            border-bottom: none;
            font-weight: bold;
            padding: 20px 30px;
        }

        @include desktop {
            font-size: 16px;
            line-height: 18px;
            color: $primary-text-color;
            background-color: inherit;
            border-bottom: none;
            font-weight: bold;
            padding: 20px 20px;
        }
    }

    &__link {
        color: $main-text-color;
        text-decoration: none;
        font-size: 26px;
        line-height: 26px;

        @include laptop {
            font-size: 16px;
            line-height: 18px;
            color: $primary-text-color;
        }

        @include desktop {
            font-size: 16px;
            line-height: 18px;
            color: $primary-text-color;
        }
    }

    &__item:last-child {
        height: 14px;
        padding: 0;

        @include laptop {
            display: none;
        }
    }

    &__item:hover a{
        @include mobile {
                color: $primary-text-color;
        }

        @include laptop {
            color: $main-text-color;
        }

        @include desktop {
            color: $main-text-color;
        }
    }

    &__item:hover span {
        @include mobile {
            opacity: 1;
        }

        @include laptop {
            opacity: 0;
        }

        @include desktop {
            opacity: 0;
        }
    }

    &__item-active {
        position: absolute;
        width: 8px;
        height: 53px;
        background-color: #8D81AC;
        left: 0;
        top: 13px;
        opacity: 0;

    }
}

.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #27262A;
    z-index: 2;

    @include desktop {
        background-color: inherit;
    }
}