.section1 {
    padding: 0 11px;
    @include d-flex-center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        color: $main-text-color;

        @include laptop {
            font-size: 72px;
            line-height: 72px;
        }
        @include desktop {
            font-size: 82px;
            line-height: 82px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        color: $primary-text-color;
        margin-top: 19px;
        margin-bottom: 14px;

        @include laptop {
            font-family: 'Lato';
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 19px;
        }
        @include desktop {
            font-family: 'Lato';
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 19px;
        }
       
    }

    &__sub-text {
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: $sub-text-color;
    }

}

.download-block {
    @include d-flex-center;
    flex-direction: column;
    margin-top: 394px;
    position: relative;

    &__download-button {
        position: absolute;
        top: -23px;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        background: $main-button-bg;
        color: $main-text-color;
        border: none;
        border-radius: 40px;
        padding: 13px 29px;

        @include laptop {
            min-width: 390px;
            font-size: 21px;
            line-height: 23px;
        }
        @include desktop {
            min-width: 390px;
            font-size: 21px;
            line-height: 23px;
        }
    }

    &__download-button:hover {
        background-color: $hover-button-bg;
        color: $primary-text-color;
        border: 1px solid #8D81AC;
    }

    &__text {
        font-size: 14px;
        line-height: 14px;
        color: $sub-text-color;
        margin-top: 13px;
        position: absolute;
        top: 20px;
    }
}