.main {
  margin-top: 80px;
  text-align: center;
  padding: 0 10px;

  &__title-text {
    color: #635C73;
    padding-bottom: 27px;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 130px;

    @include laptop {
      font-size: 42px;
      line-height: 44px;
      margin-top: 135px;
    }

    @include desktop {
      font-size: 54px;
      line-height: 54px;
      padding-bottom: 35px;
    }
  }

  &__head-text {
    color: $second-text-color;
    font-size: 14px;
    line-height: 20px;
    font-family: "Lato";

    @include laptop {
      font-size: 21px;
      line-height: 32px;
    }

    @include desktop {
      padding-bottom: 13px;
    }

  }

  &__share-btn {
    margin-top: 36px;
    @include d-flex-center;
    flex-direction: column;

    &--item {
      margin-bottom: 20px;
    }

    @include laptop {
      flex-direction: row;

      &--item {
        margin-bottom: auto;

      }
    }

    @include desktop {
      flex-direction: row;
      margin-bottom: 70px;

      &--item {
        margin-bottom: auto;
      }
    }
  }

  &__secondary-title {
    color: $primary-text-color;
    padding-top: 120px;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;

    @include laptop {
      font-size: 42px;
      line-height: 44px;
      padding-bottom: 50px;
      padding-top: 160px;
    }

    @include desktop {
      display: none;
    }
  }

  &__secondary-title-wide {
    display: none;
    color: $primary-text-color;
    padding-top: 120px;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;

    @include desktop {
      display: block;
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }

  &__wide-section {
    @include laptop {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__second-section {
    @include desktop {
      @include grid-column(2, 50px);
      background: #F4F4F4;
      padding-bottom: 35px;
      padding-top: 100px;
    }
  }
}

.rev-section {
  margin-top: 36px;
  margin-bottom: 65px;
  @include desktop {
    padding-left: 90px;

  }

  &__item {
    margin-bottom: 40px;

    @include laptop {
      display: grid;
      grid-template-columns: 0.2fr 1.3fr;
      justify-items: center;
      align-items: center;
      margin-bottom: 35px;
    }

    @include desktop {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 23px;
    }
  }

  &__container {
    margin-top: 27px;

    @include laptop {
      text-align: left;
      margin-left: 25px;
      margin-top: 0;
    }

    @include desktop {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }

    &--headtext {
      font-size: 16px;
      line-height: 16px;
      color: #323232;
    }

    &--text {
      padding-top: 14px;
      font-size: 14px;
      line-height: 21px;
      color: #848E97;
      font-family: "Lato";
      text-align: center;

      @include laptop {
        text-align: start;
      }

      @include desktop {
        text-align: start;
      }
    }
  }
}

.editor-image {
  width: 100%;
  position: relative;
  z-index: 100;
  left: 20px;
  overflow: hidden;
  @include desktop {
    height: 519px;
    overflow: auto;
    left: 0;
  }
}